@import url("./components/fonts.css");
@import url("./components/normalize.css");
@import url("./components/global.css");
.app__header {
  position: relative;
}

.header-top {
  left: 0;
  top: 0;
  position: fixed;
  right: 0;
  z-index: 1030;
  padding: 10px 20px;
  background: #1b1b1b;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.nav-list .nav-list__item {
  margin-right: 9px;
}

.nav-list .nav-list__item:last-child {
  margin-right: 0;
}

.nav-list .nav-list__item-link {
  color: #fff;
}

.nav-logo .nav-logo__link-img {
  width: 100%;
}

.header-bottom {
  position: relative;
  background: #1b1b1b;
  padding: 120px 20px 10px 20px;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 100px;
  margin-bottom: 30px;
}

.navigation-list .navigation-list__item:first-child::before {
  display: none;
}

.navigation-list .navigation-list__item::before {
  content: '/';
  margin-left: 5px;
  margin-right: 5px;
}

.navigation-list .navigation-list__item .navigation-link--active {
  color: #fff;
}

.section-name {
  border-top: 1px solid #6d6d6d;
  width: 100%;
  padding: 20px 0 48px 0;
}

.section-name .section-name__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700px;
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin: 0;
}

.header__burger {
  display: none;
}

.body--lock {
  overflow: hidden;
  height: 100vh;
}

.fog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.fog--active {
  display: block;
}

.app__content {
  padding: 100px 0px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 auto;
}

.content-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background: #000;
  border-start-start-radius: 30px;
  border-start-end-radius: 30px;
  border: 13px solid #000;
  margin: 1.5rem 3.2rem;
}

.content-item .content-item__title {
  color: #fff;
  margin: 10px 0px 20px 10px;
  font-size: 20px;
}

.gauge {
  width: 300px;
  max-width: 250px;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  color: #fe8128;
}

.gauge .gauge__body {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: #fff;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.gauge .gauge__body .gauge__fill {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: #fe8128;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: rotate(0.25turn);
          transform: rotate(0.25turn);
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.gauge .gauge__body .gauge__cover {
  width: 75%;
  height: 150%;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  /* Text */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer {
  border-top: 1px solid #6d6d6d;
}

.footer-rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 48px 12px 60px 12px;
}

.row-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 25%;
}

.row-info .row-info__link .row-info__link-img {
  margin-bottom: 24px;
}

.row {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 16.66666667%;
}

.row .row__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700px;
  font-size: 16px;
  color: #212529;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 24px;
}

.row .row__wrapper-link {
  margin: 0;
  margin-bottom: 16px;
}

.row-apps {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 25%;
}

.row-apps-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.row-app {
  background-color: #272727;
  width: 220px;
  border-radius: 0.5rem;
  padding: 8px 0;
  margin-bottom: 10px;
}

.row-appStore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 8px 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row-apps-desk .row-apps-desk__subtitle {
  margin: 0;
  margin-bottom: 10px;
  font-size: 0.95rem;
  line-height: 1.15rem;
  color: #fff;
}

.row-apps-desk .row-apps-desk__title {
  margin: 0;
  font-size: 24px;
  color: #fff;
}

.row-GooglePlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 8px 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-copyright {
  padding-bottom: 10px;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 10px;
}

@media (max-width: 1200px) {
  .nav-logo {
    display: none;
  }
  .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content-item {
    margin: 1.5em 2em;
  }
}

@media (max-width: 1000px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .nav-list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 10px;
  }
  .nav-list__item--svg {
    margin-top: -7px;
  }
  .header__bottom {
    padding: 158px 20px 10px 20px;
  }
  .navigation {
    position: absolute;
    top: 13%;
    right: 2%;
    z-index: 5000;
  }
  .footer-rows {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapper-content {
    max-width: 740px;
  }
  .row-info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
    margin-bottom: 20px;
  }
  .row-info .row-info__desk {
    max-width: 250px;
  }
  .row {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
    margin-bottom: 20px;
  }
  .row-apps {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
    margin-bottom: 20px;
  }
  .row-apps-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 855px) {
  .section-name .section-name__title {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: absolute;
    width: 30px;
    height: 23px;
    right: 53px;
    top: 27px;
    z-index: 11;
    -webkit-transition: 0.3s ease 0s;
    transition: 0.3s ease 0s;
  }
  .burger-line {
    width: 30px;
    height: 2px;
    background: #fff;
  }
  .line-second {
    margin-top: 8px;
  }
  .line-third {
    margin-top: 8px;
  }
  .nav-list {
    display: none;
  }
  .navigation {
    display: none;
  }
  .nav-logo {
    display: block;
  }
  .footer-rows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 48px 12px 0px 12px;
  }
  .row-info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-bottom: 20px;
  }
  .row-info .row-info__desk {
    max-width: 340px;
  }
  .row {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-bottom: 20px;
  }
  .row-apps {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-bottom: 20px;
  }
  .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .copyright .copyright__copy {
    margin: 0;
  }
  .copyright .copyright__poliicy {
    margin: 0;
  }
  .nav-list-first {
    position: absolute;
    top: -500px;
    left: 50%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 10000;
  }
  .nav-list-second {
    position: absolute;
    top: -1000px;
    left: 50%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 10000;
  }
  .first--active {
    top: 50px;
  }
  .second--active {
    top: 100px;
  }
}

@media (max-width: 700px) {
  .gauge {
    max-width: 350px;
    width: 350px;
  }
  .content-item .content-item__title {
    color: #fff;
    margin: 30px 0px 30px 10px;
    font-size: 28px;
  }
}

@media (max-width: 570px) {
  .gauge {
    max-width: 300px;
    width: 300px;
  }
}

@media (max-width: 430px) {
  .section-name__title {
    font-size: 24px;
  }
  .header__burger {
    right: 26px;
  }
  .app__content {
    padding: 30px 0px;
  }
  .gauge {
    max-width: 250px;
    width: 250px;
  }
  .content-item .content-item__title {
    color: #fff;
    margin: 10px 0px 20px 10px;
    font-size: 24px;
  }
  .footer-rows {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .row-info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    margin-bottom: 20px;
  }
  .row {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    margin-bottom: 20px;
  }
  .row-apps {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    margin-bottom: 20px;
  }
  .copyright {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/*# sourceMappingURL=styles.css.map */