.app__content {
	padding: 200px 0px;
}
.content {
	text-align: center;
	color: #000;

	h1 {
		font-size: 35px;
	}
	h2 {
		font-size: 65px;
	}
	p {
		font-size: 25px;
	}
	a {
		padding-top: 30px;
		font-size: 35px;
	}
	.p {
		font-size: 20px;
	}
}
