@media (max-width: 1200px) {
	.nav-logo {
		display: none;
	}
	.content {
		justify-content: center;
	}

	.content-item {
		margin: 1.5em 2em;
	}
}

@media (max-width: 1000px) {
	.nav {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.nav-list {
		align-items: flex-start;
		margin-top: 10px;
	}
	.nav-list__item--svg {
		margin-top: -7px;
	}
	.header__bottom {
		padding: 158px 20px 10px 20px;
	}
	.navigation {
		position: absolute;
		top: 13%;
		right: 2%;
		z-index: 5000;
	}
	.footer-rows {
		flex-wrap: wrap;
	}
	.wrapper-content {
		max-width: 740px;
	}
	.row-info {
		flex: 0 0 auto;
		width: 50%;
		margin-bottom: 20px;

		.row-info__desk {
			max-width: 250px;
		}
	}

	.row {
		flex: 0 0 auto;
		width: 50%;
		margin-bottom: 20px;
	}
	.row-apps {
		flex: 0 0 auto;
		width: 50%;
		margin-bottom: 20px;
	}
	.row-apps-container {
		align-items: flex-start;
	}
}

@media (max-width: 855px) {
	.section-name {
		.section-name__title {
			font-size: 28px;
		}
	}
}

@media (max-width: 767px) {
	.header__burger {
		display: block;
		position: absolute;
		width: 30px;
		height: 23px;
		right: 53px;
		top: 27px;
		z-index: 11;
		transition: 0.3s ease 0s;
	}

	.burger-line {
		width: 30px;
		height: 2px;
		background: $color-text--titles;
	}
	.line-second {
		margin-top: 8px;
	}
	.line-third {
		margin-top: 8px;
	}
	.nav-list {
		display: none;
	}
	.navigation {
		display: none;
	}
	.nav-logo {
		display: block;
	}
	.footer-rows {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		align-items: center;
		padding: 48px 12px 0px 12px;
	}
	.row-info {
		flex: 0 0 auto;
		margin-bottom: 20px;
		.row-info__desk {
			max-width: 340px;
		}
	}
	.row {
		flex: 0 0 auto;
		margin-bottom: 20px;
	}
	.row-apps {
		flex: 0 0 auto;
		margin-bottom: 20px;
	}
	.copyright {
		flex-direction: column;
		align-items: center;
		.copyright__copy {
			margin: 0;
		}
		.copyright__poliicy {
			margin: 0;
		}
	}
	.nav-list-first {
		position: absolute;
		top: -500px;
		left: 50%;
		transition: all 0.5s;
		z-index: 10000;
	}
	.nav-list-second {
		position: absolute;
		top: -1000px;
		left: 50%;
		transition: all 0.5s;
		z-index: 10000;
	}
	.first--active {
		top: 50px;
	}
	.second--active {
		top: 100px;
	}
}

@media (max-width: 700px) {
	.gauge {
		max-width: 350px;
		width: 350px;
	}
	.content-item .content-item__title {
		color: #fff;
		margin: 30px 0px 30px 10px;
		font-size: 28px;
	}
}

@media (max-width: 570px) {
	.gauge {
		max-width: 300px;
		width: 300px;
	}
}

@media (max-width: 430px) {
	.section-name__title {
		font-size: 24px;
	}
	.header__burger {
		right: 26px;
	}

	.app__content {
		padding: 30px 0px;
	}
	.gauge {
		max-width: 250px;
		width: 250px;
	}

	.content-item .content-item__title {
		color: #fff;
		margin: 10px 0px 20px 10px;
		font-size: 24px;
	}

	.footer-rows {
		align-items: flex-start;
	}
	.row-info {
		flex: 0 0 auto;
		width: 100%;
		margin-bottom: 20px;
	}
	.row {
		flex: 0 0 auto;
		width: 100%;
		margin-bottom: 20px;
	}
	.row-apps {
		flex: 0 0 auto;
		width: 100%;
		margin-bottom: 20px;
	}

	.copyright {
		align-items: flex-start;
	}
}
